# Editor backups
*~

# automake template stuff.
COPYING
ChangeLog
INSTALL

# Build products
*.o
*.a
*.pyc
po/*.gmo

# autoconf-related files
configure
src/Makefile.in
src/gtk/Makefile.in
config.guess
config.sub
config.h
config.h.in
config.status
config.log
Doxyfile

Makefile
Makefile.in
aclocal.m4
autom4te.cache
depcomp

doc/Makefile
doc/Makefile.in
doc/cs/Makefile
doc/cs/Makefile.in
doc/cs/README.cs
doc/cs/aptitude.cs.8
doc/cs/doc-css-stamp
doc/cs/doc-html-stamp
doc/cs/doc-stamp
doc/cs/images/Makefile
doc/cs/images/Makefile.in
doc/cs/output-html/
doc/cs/output-man/
doc/cs/output-txt/
doc/de/Makefile
doc/de/Makefile.in
doc/de/aptitude.de.8
doc/de/aptitude.xml
doc/de/doc-stamp
doc/de/manpage.xml
doc/de/output-man/
doc/en/Makefile
doc/en/Makefile.in
doc/en/README.en
doc/en/aptitude-create-state-bundle.1
doc/en/aptitude-run-state-bundle.1
doc/en/aptitude.8
doc/en/doc-css-stamp
doc/en/doc-html-stamp
doc/en/doc-stamp
doc/en/images/Makefile
doc/en/images/Makefile.in
doc/en/man-stamp
doc/en/output-html/
doc/en/output-txt/
doc/es/Makefile
doc/es/Makefile.in
doc/es/README.es
doc/es/aptitude.es.8
doc/es/aptitude.xml
doc/es/doc-css-stamp
doc/es/doc-html-stamp
doc/es/doc-stamp
doc/es/images/Makefile
doc/es/images/Makefile.in
doc/es/manpage.xml
doc/es/output-html/
doc/es/output-man/
doc/es/output-txt/
doc/fi/Makefile
doc/fi/Makefile.in
doc/fi/README.fi
doc/fi/aptitude.fi.8
doc/fi/doc-css-stamp
doc/fi/doc-html-stamp
doc/fi/doc-stamp
doc/fi/images/Makefile
doc/fi/images/Makefile.in
doc/fi/output-html/
doc/fi/output-txt/
doc/fr/Makefile
doc/fr/Makefile.in
doc/fr/README.fr
doc/fr/aptitude.fr.8
doc/fr/aptitude.fr.8.tmp
doc/fr/aptitude.xml
doc/fr/doc-css-stamp
doc/fr/doc-html-stamp
doc/fr/doc-stamp
doc/fr/images/Makefile
doc/fr/images/Makefile.in
doc/fr/manpage.xml
doc/fr/output-html/
doc/fr/output-man/
doc/fr/output-txt/
doc/ja/Makefile
doc/ja/Makefile.in
doc/ja/README.ja
doc/ja/aptitude.ja.8
doc/ja/aptitude.xml
doc/ja/doc-css-stamp
doc/ja/doc-html-stamp
doc/ja/doc-stamp
doc/ja/images/Makefile
doc/ja/images/Makefile.in
doc/ja/manpage.xml
doc/ja/output-html/
doc/ja/output-man/
doc/ja/output-txt/
doc/po4a/Makefile
doc/po4a/Makefile.in
doc/po4a/add_de/Makefile
doc/po4a/add_de/Makefile.in
doc/po4a/add_es/Makefile
doc/po4a/add_es/Makefile.in
doc/po4a/add_fr/Makefile
doc/po4a/add_fr/Makefile.in
doc/po4a/po/Makefile
doc/po4a/po/Makefile.in
install-sh
m4/Makefile
m4/Makefile.in
missing
po/Makefile
po/Makefile.in
po/POTFILES
po/POTFILES.in
po/POTFILES.in.in
po/ar.gmo
po/ast.gmo
po/bs.gmo
po/ca.gmo
po/cs.gmo
po/da.gmo
po/de.gmo
po/dz.gmo
po/el.gmo
po/es.gmo
po/eu.gmo
po/fi.gmo
po/fr.gmo
po/gl.gmo
po/hu.gmo
po/it.gmo
po/ja.gmo
po/km.gmo
po/ku.gmo
po/lt.gmo
po/mr.gmo
po/nb.gmo
po/ne.gmo
po/nl.gmo
po/nn.gmo
po/pl.gmo
po/pt.gmo
po/pt_BR.gmo
po/ro.gmo
po/ru.gmo
po/sk.gmo
po/stamp-po
po/sv.gmo
po/th.gmo
po/tl.gmo
po/tr.gmo
po/uk.gmo
po/vi.gmo
po/zh_CN.gmo
po/zh_TW.gmo
src/.deps/
src/Makefile
src/aptitude
src/cmdline/.deps/
src/cmdline/Makefile
src/cmdline/Makefile.in
src/generic/Makefile
src/generic/Makefile.in
src/generic/apt/.deps/
src/generic/apt/Makefile
src/generic/apt/Makefile.in
src/generic/apt/history/.deps/
src/generic/apt/history/Makefile
src/generic/apt/history/Makefile.in
src/generic/apt/matching/.deps/
src/generic/apt/matching/Makefile
src/generic/apt/matching/Makefile.in
src/generic/apt/pkg_hier_dump
src/generic/problemresolver/.deps/
src/generic/problemresolver/Makefile
src/generic/problemresolver/Makefile.in
src/generic/problemresolver/test
src/generic/util/.deps/
src/generic/util/Makefile
src/generic/util/Makefile.in
src/gtk/.deps/
src/gtk/Makefile
src/gtk/toplevel/.deps/
src/gtk/toplevel/Makefile
src/gtk/toplevel/Makefile.in
src/gtk/util/Makefile
src/gtk/util/Makefile.in
src/mine/.deps/
src/mine/Makefile
src/mine/Makefile.in
stamp-h1
tests/.deps/
tests/Makefile
tests/Makefile.in
tests/boost_test
tests/cppunit_test
tests/interactive_set_test


# SCons-related files:
.sconf_temp/
.sconsign.dblite
build/
config.log

# Things related to the Debian build:
.pc/
build-curses/
build-gtk/
