# Editor backups
*~

# Build products
*.o
*.a
*.pyc
*.moc
*.mocc
po/*.gmo
po/aptitude.pot.sig
po/remove-potcdate.sed

# Distributed tar files.
aptitude-*.tar.gz

# autoconf-related files
configure
config.guess
config.sub
config.h
config.h.in
config.status
config.log
Doxyfile

Makefile
Makefile.in
aclocal.m4
autom4te.cache
depcomp
install-sh
missing

.deps/

doc/*/images/*.png
doc/cs/README.cs
doc/cs/aptitude.cs.8
doc/cs/doc-css-stamp
doc/cs/doc-html-stamp
doc/cs/doc-stamp
doc/cs/output-html/
doc/cs/output-man/
doc/cs/output-txt/
doc/de/aptitude.de.8
doc/de/aptitude.xml
doc/de/doc-stamp
doc/de/manpage.xml
doc/de/output-man/
doc/en/README.en
doc/en/aptitude-create-state-bundle.1
doc/en/aptitude-run-state-bundle.1
doc/en/aptitude.8
doc/en/doc-css-stamp
doc/en/doc-fo-stamp
doc/en/doc-html-stamp
doc/en/doc-stamp
doc/en/man-stamp
doc/en/output-fo/
doc/en/output-html/
doc/en/output-txt/
doc/es/README.es
doc/es/aptitude.es.8
doc/es/aptitude.xml
doc/es/doc-css-stamp
doc/es/doc-html-stamp
doc/es/doc-stamp
doc/es/manpage.xml
doc/es/output-html/
doc/es/output-man/
doc/es/output-txt/
doc/fi/README.fi
doc/fi/aptitude.fi.8
doc/fi/doc-css-stamp
doc/fi/doc-html-stamp
doc/fi/doc-stamp
doc/fi/output-html/
doc/fi/output-txt/
doc/fr/README.fr
doc/fr/aptitude.fr.8
doc/fr/aptitude.fr.8.tmp
doc/fr/aptitude.xml
doc/fr/doc-css-stamp
doc/fr/doc-html-stamp
doc/fr/doc-stamp
doc/fr/manpage.xml
doc/fr/output-html/
doc/fr/output-man/
doc/fr/output-txt/
doc/ja/README.ja
doc/ja/aptitude.ja.8
doc/ja/aptitude.xml
doc/ja/doc-css-stamp
doc/ja/doc-html-stamp
doc/ja/doc-stamp
doc/ja/manpage.xml
doc/ja/output-html/
doc/ja/output-man/
doc/ja/output-txt/
doc/pl/aptitude.pl.8
doc/pl/aptitude.xml
doc/pl/doc-stamp
doc/pl/manpage.xml
doc/pl/output-man
po/POTFILES
po/POTFILES.in
po/POTFILES.in.in
po/stamp-po
src/aptitude
src/generic/apt/pkg_hier_dump
src/generic/problemresolver/test
stamp-h1
tests/boost_test
tests/cppunit_test
tests/gtest_test
tests/interactive_set_test


# SCons-related files:
.sconf_temp/
.sconsign.dblite
build/
config.log
