[Desktop Entry]
Type=Application
Name=Aptitude Package Manager
GenericName=Package Manager
Comment=Install, remove and upgrade software packages
Icon=debian-logo
TryExec=aptitude-gtk
Exec=su-to-root -X -c aptitude-gtk
Categories=PackageManager;GTK;System;Settings;

